body{
  background: #333;
}

.clock{
  font-size: 4rem;
  text-align: center;
  margin: 100px auto;
  color: yellow;
  font-family: Arial, Helvetica, sans-serif;
}

.clock span{
  padding: 20px;
  background: #444;
}